---
---

@import "{{ site.theme }}";

.view { visibility:hidden; }
footer { visibility:hidden; }
h1 { color:#76232f; }
a:link a:visited { color: #76232F; text-decoration-line:underline; }
a:hover a:active { color: #76232F; }

